body {
  background-color: paleturquoise;
}

h1 {
  font-family: sans-serif, Arial;
  text-align: center;
}

h2 {
  font-family: sans-serif, Arial;
  text-align: center;
}

ul {
  width: 880px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
}

li {
  background-color: MediumSpringGreen;
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  background-size: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 5px black;
}

li:hover {
  background-color: MediumTurquoise;
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  background-size: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 5px black;
}

/*.anulador {
  clear: both;
}*/

a {
  height: 200px;
  display: block;
  font-size: 25px;
  font-family: sans-serif;
  padding-top: 80px;
  text-align: center;
  text-shadow: 2px 0 10px black;
  color: white;
  text-decoration: none;
}

a:hover {
  height: 200px;
  display: block;
  font-size: 25px;
  font-family: sans-serif, Arial;
  padding-top: 80px;
  text-align: center;
  text-shadow: 2px 0 10px #2F4F4F;
  color: black;
  text-decoration: none;
}

#a01 {
  background-image: url(img/a01.png);
}

#a02 {
  background-image: url(img/a02.png);
}

#a03 {
  background-image: url(img/a03.png);
}

#a04 {
  background-image: url(img/a04.png);
}

#a05 {
  background-image: url(img/a5.png);
}

#a06 {
  background-image: url(img/a06.png);
}

#a07 {
  background-image: url(img/a07.png);
}

#a08 {
  background-image: url(img/a08.png);
}

#a01:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#a02:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#a03:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#a04:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#a05:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#a06:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#a07:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
