div {
  background-color: maroon;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  overflow: visible;
  margin: 0;
  padding: 0;
  width: 800px;
  clear: both;
  margin-bottom: 100px;
}

li {
  display: block;
  width: 100px;
  height: 100px;
  background-color: white;
  background-image: linear-gradient(45deg, seagreen 10%, olive 90%);
  margin: 0;
  float: left;
}

ul:nth-child(1n) li:nth-child(2n) {
  background-color: black;
  background-image: linear-gradient(45deg, gold 10%, darkkhaki 90%);
}

ul:nth-child(2n) li:nth-child(1n) {
  background-color: black;
  background-image: linear-gradient(45deg, gold 10%, darkkhaki 90%);
}

ul:nth-child(2n) li:nth-child(2n) {
  background-color: white;
  background-image: linear-gradient(45deg, seagreen 10%, olive 90%);
}

p {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: black;
  margin: 10px;
  box-shadow: 2px 2px 5px grey,
              inset 7px 7px 20px grey;
  position: relative;
}

.blanco {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
  box-shadow: 2px 2px 5px grey,
              inset 7px 7px 20px grey;
  position: relative;
}
